# 맥OS
.DS_스토어

# 엑스코드
빌드 /
* .pbxuser
! default.pbxuser
* .mode1v3
! default.mode1v3
* .mode2v3
! default.mode2v3
* .perspectivev3
! default.perspectivev3
xcuserdata /
* .xc체크아웃
프로필
* .옆으로 이동
파생 데이터
* .hmap
* .ipa

# 번 들러
.묶음

# Carthage 종속성에서 소스 코드를 체크인하지 않으려면 이 줄을 추가하십시오.
# 카르타고/체크아웃

카르타고 / 빌드

# .gitignore에 Pod 디렉터리를 추가하지 않는 것이 좋습니다. 하지만
# 스스로 판단해야 합니다. 장단점은 다음에서 언급됩니다.
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# 참고: Pods 디렉토리를 무시하는 경우 주석 처리를 제거해야 합니다.
# .travis.yml의 `pod 설치`
#
# 포드/

# 스위프트 패키지 매니저
패키지.해결됨
.swiftpm